.content {
   text-align: left;
   margin-left: 3vw;
   margin-right: 3vw;
   
}

.content {
   color: white;
   font-size: 1.3vw;
}
   
.text {
padding: 0 0.5vh;
}

.code {
   color:#282c34;
   background-color: white;
   font-size: 1.1vw;
   border-radius: 1vw;
   padding: 0.4vh 0;
   
}

.title {
   text-align: center;
   font-size: 2vw;
}

.title_2 {
  font-size: 1.4vw;
  margin: 1vw 0.3vw 0;
}
