.layout-container {
    display: flex;
}

.navbar {
    width: 15%; 
    background-color: #282c34;
    display: flex; 
    flex-direction: column;
}

.outlet-container {
    flex-grow: 1; 
    padding: 1vw; 
}

.navbar a {
    margin-bottom: 1.3vh; 
    text-decoration: none; 
    color: white; 
    font-size: 1.3vw;
}

.navbar a:hover {
    color: purple; 
}

.outlet-container{
    width: 85%;
}

.topic{
    color: purple;
}
